body {font-size: 18px; font-family: "Source Sans Pro",sans-serif; font-weight: 300;  margin: 0;color:#444;background-color: #fff;}
header h1 {color:#999; padding:0; margin:0;}
header h1>img {background: #fff; border: 1px solid #fff; border-radius: 122px; height: 80px; width: 80px; float:left;}
header h1>span {font-weight: 100;font-size: 18px;}
header ul {float:right;}
header ul>li {list-style-type: none;display: inline-block;margin-left: 20px; font-weight: bold;}
header ul>li a {color:#999;text-decoration: none;}
.wrap {clear:both; margin: 0 auto;padding:0 15px;max-width: 960px;}
.intro {height:300px; width:100%; background-image: url('https://pbs.twimg.com/profile_banners/14567320/1398697525/1500x500'); margin-top: 0px; background-position-y: 50%;  background-position: center; background-repeat: no-repeat; background-size: cover;text-align: center; color:#fff;text-shadow: 0px 0px 5px #000;}
.intro h1 {font-size:55px;margin: 0;}
.intro h2 {font-size:42px;margin: 0;}
.bit1 {color: #cdc982;}
.bit2 {color: #ca682e;}
.bit3 {color: #d748a2;}
article {text-align: center;margin-top: 50px;margin-bottom:100px;}
article h1 {font-weight:300;font-size:48px;margin-bottom:75px;}
article span {background-color:rgba(255,255,255,0.5); font-weight:bold;font-size: 68px;text-shadow:0px 2px 3px #fff;}
article a#tile2048Gremlins {background-image: url('4096.jpg'); background-size: 400px; background-position: 50% 60%; }
article a#tilevideo {background-image: url('videoback.jpg'); background-size: 300px; background-position: 50% 60%; }
article a#tileself {background-image: url('https://pbs.twimg.com/profile_banners/14567320/1398697525/1500x500'); background-size: 900px; background-position: 50% 60%; }
article a#tile2048 {background-image: url('4096.jpg'); background-size: 650px; background-position: 60% 30%; }
article a#tilespeech {background-image: url('speech.png');  background-size: 650px; background-position: 60% 30%; }
article a#tiledocker {background-image: url('docker.png');  background-size: 150px; background-position: 60% 30%; }
article a {display: inline-block; padding: 0; margin:0;width: 150px; height:150px; border: 1px solid #fff; border-radius: 230px;text-align: center;}
article a { opacity: 0.5;transition: opacity 0.3s;white-space:nowrap; text-decoration: none; color:#fff;font-weight: bold;font-size:22px;text-shadow:1px 1px 8px #000;background-color: #fff;}
article a:hover {opacity: 1;}
article .mantra {padding-bottom: 42px;}
footer {position: fixed; bottom: 0;left: 0; overflow:hidden; width: 100%; height: 100px; background: transparent url('bg.png') 0 0 repeat-x;}
footer td>a {font-size: 18px; color: #fff; text-decoration: none; padding: 0 20px; height:100px; width: 100%; display: table-cell; vertical-align: middle;}
footer td>a:hover {background-color: #000; opacity: 0.3;}
footer i.fa {font-size: 3em; vertical-align: middle;}
footer table {margin:0 auto; height: 100%;}
